<html>
<head>
    <title>Albums</title>
</head>
<body>
<li><a href='/'>Home</a></li>
    <form method="post" action="addAlbum">
        <label>Add Album</label></br>
        <label for="name">Album Name: </label>
        <input type="text" name="name">
        <input type="submit" value="New Album">
    </form>
    {% if albumList %}
    <h2>Albums:</h2>
        {% for album in albumList %}
            <li><a href='/viewAlbum?album_id={{ album.0 }}'> {{album.1}}</a></li>
        {% endfor %}
    {% endif %}
</body>
</html>
