<head>
    <title>Friends!</title>
</head>
<body>   
    <table style="width:80%">
        {% if userFriends %}
            <h3>Friend List:</h3>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            {% for friend in userFriends %}
                <tr>
                    <td>{{ friend.0 }}</td>
                    <td>{{ friend.1 }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    
    <form method="post" action="{{ url_for('searchFriends') }}">
        <label for="name">Name: </label>
        <input type="text" name="name"/><br/>
        <input type="submit" value="Search"/>
    </form>
    
    <table style="width:80%">
        {% if friends %}
            {%for friend in friends %}
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>E-Mail</th>
                </tr>
                <tr>
                    <td>{{ friend.0 }}</td>
                    <td>{{ friend.1 }}</td>
                    <td>{{ friend.2 }}</td>
                    <form method="post" action="{{ url_for('addFriend') }}">
                        <td><input type="submit" value="Add"/></td>
                        <input type="hidden" name="uid" value="{{ friend.3 }}"/>
                    </form>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</body>
</html>
