<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Photoshare</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %}

{% if photos %}
<h2>Here's your photos</h2>
    <ul>
    {% for photo in photos %}

        <li>{{photo[2]}}<br>
        <img src='data:image/png;base64, {{photo[0]}}'/></li>
    {% endfor %}
    </ul>
{% endif %}

{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% else %}
  <p> Go to <a href='/profile'>profile?</a></p>
{% endif %}

<ul>
#Copy upload a photo code into albums
<li><a href='/upload'>Upload a photo</a></li> 
<li><a href='/friends'>Friends!</a></li>
#<li><a href='/albums'>My Albums</a></li>
#<li><a href='/browse'>Search Pictures</a></li>
#<li><a href='/searchTag'>Search Pictures by Tag</a></li>
#<li><a href='/topUsers'>Top 10 Users</a></li>
#<li><a href='/topTags'>Top 10 Tags</a></li>
<li><a href='/logout'>Logout</a></li>
<li><a href='/'>Home</a></li>
</ul>

