<html>
<head>
    <title>Album Name : {{ name }}</title>
</head>
<body>

<li><a href='/'>Home</a></li><br>
    {% if displayAll %}
    <form method="post" action="delete_album">
            <input type="submit" value="Delete Album"/>
            <input type="hidden" name="album_id" value="{{ album_id }}"/>
    </form>
    {% endif %}
    {% if photos %}
    <h2>Photos in {{ name }}</h2>
        <ul>
            {% for photo in photos %}
                <li><img style="max-height:400px;max-width:400px;height:auto;width:auto;" src= {{photo.0}}/>
                <li><a href='/comment?photo_id={{ photo.1 }}'> Comments </a></li>
                    <p>Caption : {{ photo.3 }}</p>
                    <th>Tags: </th>
                    {% for tag in photo.4 %}
                        <a href='/browse?TAG={{ tag }}'>#{{ tag}}</a>
                    {% endfor %}<br>
                    <th>Likes: </th>
                    {% for like in photo.5 %}
                        <a href='/findfriends/{{ like }}'>{{ like}}</a>
                    {% endfor %}

                </li>
                {% if not displayAll %}
                <form method="post" action="like">
                    <input type="submit" value="like"/>
                    <input type="hidden" name="photo_id" value="{{ photo.1}}"/>
                    <input type="hidden" name="album_id" value="{{ photo.2 }}"/>
                    <input type="hidden" name="user_id" value="{{ photo.6 }}"/>
                    <input type="hidden" name="current_url" value="{{ request.url }}"/>
                </form>
                {% endif %}
                {% if displayAll %}
                <form method="post" action="delete">
                    <input type="submit" value="delete"/>
                    <input type="hidden" name="photo_id" value="{{ photo.1 }}"/>
                    <input type="hidden" name="album_id" value="{{ photo.2 }}"/>
                    <input type="hidden" name="user_id" value="{{ photo.6 }}"/>
                    <input type="hidden" name="current_url" value="{{ request.url }}"/>
                </form>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    {% if displayAll %}
    <form method="post" enctype="multipart/form-data" action="/upload">
                <label for="photo">Select photo:</label>
                <input type="file" name="photo" required='true' /><br />
                <label for="caption">Caption:</label>
                <input type="text" name="caption" required='true' /><br />
                <label for="tag">Tags:</label>
                <input type="text" name="tag" required='false' /><br />
                <label for="tag">(Please begin tags with #, for example '#friends #fun day')</label><br>
                <input type="hidden" name="album_id" value="{{ album_id }}"/>
                <input type="hidden" name="current_url" value="{{ request.url }}"/>
                <input type="submit" value="Upload" />
    </form>
    {% endif %}
</body>
</html>
