<html>
<head>
    <title>Browse Comments</title>
</head>
<body>
    <form method="post" action="searchOnComments" enctype=multipart/form-data>
        <p>Enter Comment:</p>
        <input type="submit" value="Search" />
    </form>
    {% if comments %}
    <h2>Comments</h2>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Number of Matching Comments</th>
            </tr>
            {% for comment in comments %}
                <tr>
                    <td>{{ comment.first_name }}</td>
                    <td>{{ comment.last_name }}</td>
                    <td>{{ comment.numComments }}</td>
                </tr>
    {% endif %}
</body>
</html>
